body {
    margin: 0;
}

.main {
    width: 550px;
    height: 285px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6943FF;
    color: #FFFFFF
}

@font-face {
    font-family: "Inter";
    src: url("Fonts/inter-extra-bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("Fonts/inter-semi-bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}


input {
    margin-top: 10px;
    width: 110px;
    height: 83px;
    color: #FFFFFF;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 51px;
    text-align: center;
    
}

#btn-el {
    margin-top: 25px;
    width: 117px;
    height: 42px;
    border: none;
    border-radius: 5px;
}

.results {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #5A537B;
}

h2 {
    margin-top: 60px;
}